<%= form_for(@worklog) do |f| %>
  <% if @worklog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
      <% @worklog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </div>
  <div class="field">
    <%= f.label :work_progress_this_week %><br />
    <%= f.text_area :work_progress_this_week %>
  </div>
  <div class="field">
    <%= f.label :concerns %><br />
    <%= f.text_area :concerns %>
  </div>
  <div class="field">
    <%= f.label :time_period %><br />
    <%= f.select("time_period",current_user.valid_weeks_within_a_range(Date.today-15, Date.today).collect{|x| ["Week of "+x.to_s, x]}, {:include_blank => 'Select week'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
