<p id="notice"><%= notice %></p>

<p>
  <b>Who:</b>
  <%= @worklog.who %>
</p>

<p>
  <b>Worked On:</b>
  <%= @worklog.work_progress_this_week %>
</p>

<p>
  <b>Concerns:</b>
  <%= @worklog.concerns %>
</p>

<p>
  <b>Time Period (Week of):</b>
  <%= @worklog.time_period  %>
</p>


<%= link_to 'Edit', edit_worklog_path(@worklog) %> |
<%= link_to 'Back', worklogs_path %>
