<p id="notice"><%= notice %></p>

<p>
  <b>Who:</b>
  <%= @meeting.who %>
</p>

<p>
  <b>Subject:</b>
  <%= @meeting.what %>
</p>

<p>
  <b>Requested date:</b>
  <%= @meeting.proposed_date_for_meeting  %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
